<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('./layout/nav') %>

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>About Us</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>About Us</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-6 order-1 order-lg-2"
              data-aos="zoom-in"
              data-aos-delay="150"
            >
              <img src="assets/img/about.jpg" class="img-fluid" alt="" />
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
              data-aos="fade-right"
            >
              <h3>Grand Health Cycle</h3>
              <p class="fst-italic">
                We empower people to master the healthy living life style on
                their own. We have spent years building and developing an
                organic therapy products that can help humanity by solving
                health and financial issues, you’ll be better positioned to
                generate huge profits based on our tremendous pay-out plans.
                Grand health cycle is a Business with a passion for helping and
                empower many to live healthy and financial happiness.
              </p>
              <!-- <ul>
                  <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul> -->
              <a href="#" class="read-more"
                >Join us<i class="bi bi-long-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- <section class="inner-page">
        <div class="container">
          <p>
            Example inner page template
          </p>
        </div>
      </section> -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('./layout/footer') %>
    <!-- End Footer -->

    <%- include('./partials/scripts') %>
  </body>
</html>
