<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('./layout/nav') %>

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Our Products & Benefits</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>Our Products</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section id="about" class="ourproduct">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-6 order-1 order-lg-2"
              data-aos="zoom-in"
              data-aos-delay="150"
            >
              <img
                src="/static/assets/img/about.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
              data-aos="fade-right"
            >
              <h2>MORINGA</h2>
              <h3>Health Benefits Of Moringa Leaves</h3>
              <p class="fst-italic"></p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Boost stamina</li>
                <li><i class="bi bi-check-circle"></i>Control diabetes</li>
                <li><i class="bi bi-check-circle"></i> Anti oxidants</li>
                <li><i class="bi bi-check-circle"></i> Lower cholesterol</li>
                <li><i class="bi bi-check-circle"></i> Detoxifies the body</li>
                <li><i class="bi bi-check-circle"></i> Treats depression</li>
                <li>
                  <i class="bi bi-check-circle"></i> Treats minor infection
                </li>
                <li><i class="bi bi-check-circle"></i> Improves immunity.</li>
                <li><i class="bi bi-check-circle"></i> Delays aging process</li>
                <li><i class="bi bi-check-circle"></i> Boost stamina</li>
                <li><i class="bi bi-check-circle"></i>Control diabetes</li>
              </ul>
            </div>
          </div>

          <div class="row mt-5 pt-4">
            <div
              class="col-lg-6 order-1 order-lg-2"
              data-aos="zoom-in"
              data-aos-delay="150"
            >
              <img
                src="/static/assets/img/about.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-2 content"
              data-aos="fade-right"
            >
              <h2>GINGER</h2>
              <h3>Health Benefits Of Ginger Leaves</h3>
              <p class="fst-italic"></p>
              <ul>
                <li>
                  <i class="bi bi-check-circle"></i> Restrain the growth of many
                  types of oral bacteria
                </li>
                <li>
                  <i class="bi bi-check-circle"></i>Act against the respiratory
                  syncytial virus(RSV virus)s
                </li>
                <li>
                  <i class="bi bi-check-circle"></i> Reduce blood cholesterol
                  level
                </li>
                <li><i class="bi bi-check-circle"></i> Reduce blood sugar</li>
                <li>
                  <i class="bi bi-check-circle"></i> Reduce the risk of cancer
                </li>
                <li>
                  <i class="bi bi-check-circle"></i> Reduce the risk of
                  Alzheimers
                </li>
                <li>
                  <i class="bi bi-check-circle"></i> Help reduce digestive
                  issues
                </li>
                <li><i class="bi bi-check-circle"></i> Relieves tooth ache</li>
                <li><i class="bi bi-check-circle"></i> Fight cold and flu</li>
                <li>
                  <i class="bi bi-check-circle"></i> Natural anti inflammatory
                </li>
                <li>
                  <i class="bi bi-check-circle"></i>Promotes detoxification
                </li>
              </ul>
            </div>
          </div>
          <!-- <div class="row mt-4">
            <div class="col-lg-5 " data-aos="zoom-in" data-aos-delay="150">
              <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>NUTRITIONAL VALUE</h3>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Boost stamina</li>
                  <li><i class="bi bi-check-circle"></i>Control diabetes</li>
                  <li><i class="bi bi-check-circle"></i> Anti oxidants</li>
                  <li><i class="bi bi-check-circle"></i> Lower cholesterol</li>
                  <li><i class="bi bi-check-circle"></i> Detoxifies the body</li>
                  <li><i class="bi bi-check-circle"></i> Treats depression</li>
                  <li><i class="bi bi-check-circle"></i> Treats minor infection</li>
                  <li><i class="bi bi-check-circle"></i> Improves immunity.</li>
                  <li><i class="bi bi-check-circle"></i> Delays aging process</li>
                  <li><i class="bi bi-check-circle"></i> Boost stamina</li>
                  <li><i class="bi bi-check-circle"></i>Control diabetes</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 pt-4 pt-lg-0 content" data-aos="fade-right">
              <h3>COMPONENTS</h3>
              <p class="fst-italic">
              <ul>
                <li><i class="bi bi-check-circle"></i> Boost stamina</li>
                <li><i class="bi bi-check-circle"></i>Control diabetes</li>
                <li><i class="bi bi-check-circle"></i> Anti oxidants</li>
                <li><i class="bi bi-check-circle"></i> Lower cholesterol</li>
                <li><i class="bi bi-check-circle"></i> Detoxifies the body</li>
                <li><i class="bi bi-check-circle"></i> Treats depression</li>
                <li><i class="bi bi-check-circle"></i> Treats minor infection</li>
                <li><i class="bi bi-check-circle"></i> Improves immunity.</li>
                <li><i class="bi bi-check-circle"></i> Delays aging process</li>
                <li><i class="bi bi-check-circle"></i> Boost stamina</li>
                <li><i class="bi bi-check-circle"></i>Control diabetes</li>
  
              </ul>
              </p>
  
            </div>
            <div class="col-lg-3 pt-4 pt-lg-0 content" data-aos="fade-right">
              <h3>USAGE</h3>
              <p class="fst-italic">
              <ul>
                <li><i class="bi bi-check-circle"></i> Boost stamina</li>
  
              </ul>
              </p>
  
            </div>
          </div>-->
        </div>
      </section>
      <!-- End About Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('./layout/footer') %>
    <!-- End Footer -->

    <%- include('./partials/scripts') %>
  </body>
</html>
