<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('./layout/nav') %>

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Testimonials</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>Testimonials</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div>
          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="row">
              <div class="col-lg-6">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i> What a
                    good way to make money online, all I want is to become a
                    cycle leader in all the package, so I can make more money
                    than am currently making.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="assets/img/testimonials/testimonials-4.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Adams chidi</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="col-lg-6">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Grand health cycle has changed my life since I joined the
                    program, am a cycle leader and I now make roughly 350k every
                    month on the system.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="assets/img/testimonials/testimonials-1.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Grace obi</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="col-lg-6">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I thank my friend for introducing me to this opportunity, it
                    has changed my life. This program has helped me to survive
                    as a student in school, am making good money that is
                    financing my education.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="assets/img/testimonials/testimonials-2.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Oladele John</h3>
                  <h4>Designer</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="col-lg-6">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i> What I
                    love about this opportunity is that it's here to stay, all
                    the money you make are legitimate and not a become a
                    millionaire overnight website. Am confident in the program.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="assets/img/testimonials/testimonials-3.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Ugur james</h3>
                  <h4>Store Owner</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="col-lg-6">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i> What a
                    good way to make money online, all I want is to become a
                    cycle leader in all the package, so I can make more money
                    than am currently making.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="assets/img/testimonials/testimonials-4.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Adams chidi</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="col-lg-6">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I love this, my three times a week seminar is paying off, am
                    now a cycle leader of bronze and gold, diamond is next.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="assets/img/testimonials/testimonials-5.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Umar Mohammed</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
          </div>
          <!-- start -->
          <div class="container why-to-join">
            <div>
              <h3 class="heading-3">Why you should join Grand Health Cycle</h3>
              <ul>
                <li class="why-to-join-item">
                  <i class="bi bi-check-circle"></i>
                  It's here to stay because it doesn't pay you magic money like
                  double your investment in 24hours or become a millionaire
                  overnight type of websites but it pays you for the work you
                  do.
                </li>
                <li class="why-to-join-item">
                  <i class="bi bi-check-circle"></i>
                  You don't need to refer people to make money after joining and
                  purchasing your packages, you can make money selling digital
                  and physical products without referring anyone.
                </li>
                <li class="why-to-join-item">
                  <i class="bi bi-check-circle"></i>
                  It pays you cycle leader passive income i.e the money you earn
                  forever after purchasing 5th cycle or having at least 37
                  referrals in each package.
                </li>
                <li class="why-to-join-item">
                  <i class="bi bi-check-circle"></i>
                  The business is stable and built for longevity.
                </li>
                <li class="why-to-join-item">
                  <i class="bi bi-check-circle"></i>
                  It make you achieve and live your dream and giving you a total
                  financial freedom if your work hard.
                </li>
              </ul>
            </div>
            <div class="btn-box d-flex justify-content-center">
              <a href="#" class="read-more btn btn-primary btn-lg"
                >Join now <i class="bi bi-long-arrow-right"></i
              ></a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <!-- end -->
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- <section class="inner-page">
          <div class="container">
            <p>
              Contents here
            </p>
          </div>
        </section> -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('./layout/footer') %>
    <!-- End Footer -->

    <%- include('./partials/scripts') %>
  </body>
</html>
