<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title><%= title %> - Grand Health Cycle</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="/static/assets/img/logo_01.png" rel="icon" />
  <link href="/static/assets/img/logo_01.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"
  />

  <!-- Vendor CSS Files -->
  <link
    href="/static/assets/vendor/bootstrap/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
    rel="stylesheet"
  />
  <link
    href="/static/assets/vendor/boxicons/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link href="/static/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
  <link href="/static/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link
    href="/static/assets/vendor/simple-datatables/style.css"
    rel="stylesheet"
  />

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/dashboard.css" rel="stylesheet" />

  <style>
    .price-list .value {
      flex: none;
    }

    .more-info {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8em;
      height: 32px;
      color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      gap: 10px;
      transition: all 0.5s ease-in-out;
    }
    .more-info:hover {
      gap: 25px;
    }
    .sales-card .more-info {
      background: #4153f1d0;
    }
    .customers-card .more-info {
      background: #ff771dbd;
    }
    .revenue-card .more-info {
      background: #2eca6abb;
    }

    .admin-dash.dashboard .card-icon {
      height: 40px;
      width: 40px;
      font-size: 20px;
    }
    .admin-dash.dashboard .card-title {
      font-size: 0.75rem;
    }

    @media (min-width: 320px) {
    }
    @media (min-width: 576px) {
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
    }

    @media (min-width: 1200px) {
    }

    @media (min-width: 1400px) {
    }
  </style>
</head>
