<form action="" method="GET">
  <div class="input-group mb-3">
    <input
      type="text"
      name="q"
      class="form-control"
      placeholder="Search username, fullname, or email"
      aria-label="Search"
      value="<%= data.q %>"
    />
    <button class="btn btn-outline-secondary" type="submit">
      <i class="bx bx-search-alt-2"></i>
    </button>
  </div>
</form>
