<!doctype html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../layout/nav') %>

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Cart</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li><a href="/shop">Shop</a></li>
              <li>Checkout</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <section>
        <div class="container">
          <div class="row">Order Completed</div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('../layout/footer') %>
    <!-- End Footer -->

    <%- include('../partials/scripts') %>
  </body>
</html>
