<div class="pagetitle">
  <h1 class="text-capitalize"><%= title %></h1>
  <nav>
    <ol class="breadcrumb" id="breadcrumb">
      <!-- Breadcrumb items will be dynamically inserted here -->
    </ol>
  </nav>
</div>
<!-- End Page Title -->
