<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="./dashbroad.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#mem-joining-admin-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bx bxs-user-account"></i><span>Members Joining</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="mem-joining-admin-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="./member-joining/all-members.html">
            <i class="bi bi-circle"></i><span>All Members </span>
          </a>
        </li>
        <li>
          <a href="./member-joining/all-orders.html">
            <i class="bi bi-circle"></i><span>Orders</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Members Joining Nav -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#withdrawals-admin-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bx bx-money-withdraw"></i><span>Withdrawals</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="withdrawals-admin-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="./withdrawals/withdrawal-requests.html">
            <i class="bi bi-circle"></i><span>Requests </span>
          </a>
        </li>
        <li>
          <a href="./withdrawals/withdrawal-history.html">
            <i class="bi bi-circle"></i><span>History</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Withdrawals Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#mem-manager-admin-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bx bxs-user-detail"></i><span>Members Manager</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="mem-manager-admin-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="./member-manager/rollback-funds.html">
            <i class="bi bi-circle"></i><span>Roll Back Funds </span>
          </a>
        </li>
        <li>
          <a href="./member-manager/block-members.html">
            <i class="bi bi-circle"></i><span>Block Member</span>
          </a>
        </li>
        <li>
          <a href="./member-manager/blocked-members.html">
            <i class="bi bi-circle"></i><span>Blocked Members</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Member Manager Nav -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#cycle-perf-admin-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bx bx-bar-chart-alt-2"></i><span>Cycle Performance</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="cycle-perf-admin-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="./member-cycle-performance/team-performance.html">
            <i class="bi bi-circle"></i><span>Team Performance </span>
          </a>
        </li>
        <li>
          <a href="./member-cycle-performance/top-affilate.html">
            <i class="bi bi-circle"></i><span>Top Affilates</span>
          </a>
        </li>
        <li>
          <a href="./member-cycle-performance/referrals-affilates.html">
            <i class="bi bi-circle"></i><span>Referrals Affilates</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Cycle Performance Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="./e-commerce-shop/add-product.html">
        <i class="bx bx-cart-add"></i>
        <span>E-commerce Shop</span>
      </a>
    </li>
    <!-- End E-cmmernce Page Nav -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="./e-commerce-shop/sold-product-records.html"
      >
        <i class="bx bx-shopping-bag"></i>
        <span>Shop Marketing</span>
      </a>
    </li>
    <!-- End Shop Marketing Page Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#testimony-admin-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bx bxs-detail"></i><span>Product Delivery</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="testimony-admin-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="./product-delivery-status/undelivered-product.html">
            <i class="bi bi-circle"></i><span>Undelivery Products </span>
          </a>
        </li>
        <li>
          <a href="./product-delivery-status/delivered-product.html">
            <i class="bi bi-circle"></i><span>Delivery Products</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Product Delivery Page Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#testimony-admin-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bx bxs-detail"></i><span>Testimony</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="testimony-admin-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="./testimony/pending-testimony.html">
            <i class="bi bi-circle"></i><span>pending Testimonys </span>
          </a>
        </li>
        <li>
          <a href="./testimony/testimony-records.html">
            <i class="bi bi-circle"></i><span>Testimony Records</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Testimony Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="./business-promo-contest.html">
        <i class="bx bx-money"></i>
        <span>Business Promotion Contest</span>
      </a>
    </li>
    <!-- End Business Promotion Contest Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="./message-member/create-message.html">
        <i class="bi bi-envelope"></i>
        <span>Message Member</span>
      </a>
    </li>
    <!-- End Message Member Nav -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#news-side-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-layout-text-window-reverse"></i><span>News</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="news-side-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="/admin/news/upload">
            <i class="bi bi-circle"></i><span>Upload News </span>
          </a>
        </li>
        <li>
          <a href="/admin/news">
            <i class="bi bi-circle"></i><span>Read All News</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End News Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
