<!-- ===== WhatsApp Icon ======== -->
<a
  href="https://wa.link/lfz1px
  "
  class="end-0 bottom-0 position-fixed me-3 mb-3 wobble-hor-top-class"
  target="_blank"
>
  <img src="/static/assets/img/wapp.png" alt="img" class="w-100 h-100" />
</a>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Grand Health Cycle</span></strong
    >. All Rights Reserved
  </div>
</footer>
<!-- End Footer -->
