<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <% if (data.user.hasFunded) { %>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#tables-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bx bx-wallet-alt"></i><span>Withdrawal Wallets</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="tables-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Bonus wallet </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Leaders cycle wallet</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Shop sales income</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Wallets Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/withdrawal">
        <i class="bx bx-money-withdraw"></i>
        <span>Withdrawal Request</span>
      </a>
    </li>
    <!-- End E-wallet Withdrawal Page Nav -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#my-network-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bx bx-group"></i>
        <span>My Network</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="my-network-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>My Referrers </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Referrer Tree</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Team Generation</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Team Performance</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Wallets Nav -->
    <!-- End My Network Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bx bx-store-alt"></i>
        <span>Shop Marketing</span>
      </a>
    </li>
    <!-- End Shop Marketing Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bx bx-list-check"></i>
        <span>Product Delivery</span>
      </a>
    </li>
    <!-- End Product Delivery Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bx bxs-landmark"></i>
        <span>Marketing</span>
      </a>
    </li>
    <!-- End Marketing Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/testimony">
        <i class="bx bx-notepad"></i>
        <span>Testimony</span>
      </a>
    </li>
    <!-- End Testimony Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/business-promo-contest">
        <i class="bx bx-money"></i>
        <span>Business Promotion Contest</span>
      </a>
    </li>
    <!-- End Business Promotion Contest Page Nav -->
    <% } %>
  </ul>
</aside>
<!-- End Sidebar-->
