<div id="preloader"></div>
<%- include('../../toast') %> <%- include('./news') %>

<!-- Vendor JS Files -->
<script src="/static/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/static/assets/vendor/echarts/echarts.min.js"></script>
<script src="/static/assets/vendor/quill/dist/quill.js"></script>
<script src="/static/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/static/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/static/assets/vendor/pristine/dist/pristine.min.js"></script>

<!-- Template Main JS File -->
<script src="/static/assets/js/shop.js"></script>
<script src="/static/assets/js/api-handlers.js"></script>
<script src="/static/assets/js/main-dashboard.js"></script>
