<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <main>
      <section
        class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center"
            >
              <div class="d-flex justify-content-center py-4">
                <a
                  href="/"
                  class="logo d-flex align-items-center w-auto flex-column gap-3"
                >
                  <img
                    src="/static/assets/img/ghc_logo.png"
                    alt=""
                    width="100"
                  />
                  <span class="d-none d-lg-block">Grand Health Cycle</span>
                </a>
              </div>
              <!-- End Logo -->
              <%- include('partials/alert') %>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">
                      Reset Password
                    </h5>
                    <p class="text-center small">
                      Enter OTP and your new password below.
                    </p>
                  </div>

                  <form
                    class="row g-3 needs-validation"
                    novalidate
                    id="reset-password-form"
                    method="POST"
                  >
                    <input
                      type="text"
                      name="username"
                      class="d-none"
                      value="<%= data.username %>"
                    />
                    <div class="form-group">
                      <label for="password" class="form-label"
                        >One Time Password (OTP)</label
                      >
                      <input
                        type="text"
                        name="token"
                        class="form-control"
                        id="reset-password-otp"
                        required
                        minlength="6"
                        data-pristine-min-message="Invalid OTP"
                        maxlength="6"
                        data-pristine-max-message="Invalid OTP"
                      />
                    </div>
                    <div class="form-group">
                      <label for="password" class="form-label"
                        >New Password</label
                      >
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="password"
                        required
                        minlength="6"
                      />
                    </div>

                    <div class="form-group">
                      <label for="confirmPassword" class="form-label"
                        >Confirm Password</label
                      >
                      <input
                        type="password"
                        name="confirmPassword"
                        class="form-control"
                        id="confirmPassword"
                        required
                        minlength="6"
                      />
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100 m-0" type="submit">
                        Reset Password
                      </button>
                    </div>
                    <div class="col-12">
                      <p
                        class="small mb-0 d-flex align-items-center justify-content-center"
                      >
                        <i
                          class="bx bx-chevron-left"
                          style="font-size: 30px"
                        ></i>
                        <a href="/auth/login" class="btn-link">Back to Login</a>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->
    <%- include('partials/scripts') %>
  </body>
</html>
